<nav class="navbar navbar-light bg-primary justify-content-between">
  <a class="navbar-brand text-light"><strong>{{title}}</strong></a>
  <form class="form-inline">
    <input name="srch" (ngModelChange)="srchChanged($event)" [(ngModel)]="srch" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-light my-2 my-sm-0" type="submit" (click)="clearSearch()">Clear Search</button>
  </form>
</nav>

<div class="row">
  <div class="col-xs-12 col-md-3">
    <div class="page-header">


      <div class="list-group facet-list">
        <div class="list-group-item active">
          Manufacturer
        </div>
        <div class="manfctr">
          <div class="list-group-item" *ngFor="let man of manfctr">
            <span class="input-group-addon">
              <input type="checkbox" aria-label="" (ngModelChange)="priceRangeChange('manfctr', manfctr.indexOf(man), $event)" [(ngModel)]="man.checked">&nbsp;&nbsp;
            </span>
            {{man.title}} <span class="float-right">({{man.cnt}})</span>
          </div>
        </div>

      </div>

      <div class="list-group facet-list">
        <div class="list-group-item active">
          Budget
        </div>
        <div class="bdgtRange">
          <div class="list-group-item" *ngFor="let bdgt of bdgtRange">
            <span class="input-group-addon">
              <input type="checkbox" aria-label="" (ngModelChange)="priceRangeChange('bdgtRangeData', bdgt.index, $event)" [(ngModel)]="bdgt.checked">&nbsp;&nbsp;
            </span>
            {{bdgt.start}} - {{bdgt.end}} <span class="float-right">({{bdgt.cnt}})</span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-xs-12 col-md-9">
    <div class="row results">
      <div *ngFor="let phone of phones" class="col-xs-12 col-md-4 border">
        <img src="./../assets/phone.png" alt="...">
        <div class="caption cptn-pdng">
          <span><strong>{{phone.title}}</strong></span>
          <span class="float-right">${{phone.price}}</span>
          <p class="purchase-buttons">
            <a href="#" class="btn btn-primary float-right" role="button">Buy</a>
            <a href="#" class="btn btn-danger" role="button">Add to cart</a>
          </p>
        </div>
    </div>
  </div>
</div>
